<%= turbo_frame_tag turn do %>
  <div class=<%= turn.active? ? "green-div" : "blue-div" %>>
      <% if turn.active? %>
        <div class="turn">You have 10 seconds to complete your actions</div>
      <% end %>
      <div class="turn"><%= turn.status %></div>
  </div>
<% end %>
