<%= turbo_frame_tag turn do %>
  <div class=<%= turn.active? ? "green-div" : "blue-div" %>>
    <div class="number">Your turn: <%= turn.value %></div>
      <div class="turn"><%= turn.status %></div>
  </div>
<% end %>
