<style>
  body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
  }

  .red-div {
      background-color: red;
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }

.number {
    color: white;
    font-size: 30vw;
    user-select: none;
}
</style>


<div class="red-div">
  <div class="number"><%= @turn.value %></div>
</div>
